@import "variables/bootstrap-overrides";
@import "atoms/popover";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";
@import "~@blueprintjs/core/src/blueprint";

html {
    overflow-y: scroll;
}

a {
    text-decoration: none !important;
}

body {
    &.bp3-dark {
        background-color: $dark-gray4;
    }
}

.lpq-root {
    &.bp3-dark {
        background-color: $dark-gray4;
    }
}

.absolute-centered-child {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
}